body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

@media(min-width: 768px){
  body{
    font-size: 2rem;
  }
}

@media(min-width: 1150px){
  body{
    font-size: 2.6rem;
  }
}

@media(min-width: 1600px){
  body{
    font-size: 3.0rem;
  }
}